{% extends '::base.html.twig' %}

{% block body %}

    <h1>Congratulations you have successfully made your Purchase request!</h1>

    <h3>Expect a call from us to confirm shipping address and payment method</h3>

{% endblock %}

