{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: white">Welcome to JDMParts!</h1>
    <h3 style="color: ghostwhite">The Fastest growing online shop for Japanese Domestic Market Car Parts</h3>
    <h4 style="color: ghostwhite">We believe that it is possible to Buy Everything Necessary For your Dream Project
        <br>in One Place!</h4>
    <h4 style="color: ghostwhite">Find thousands of offers from our international Dealers!<br>
    ALl in One Place!</h4>


    {% stylesheets 'bundles/app/css/about.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


{% endblock %}

