{% extends 'base.html.twig' %}

{% block body %}
    <h1>If you are sure that you want to remove this item from your cart press the button below!</h1>

        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
